
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

/*----- Accordion -----*/
.accordion, .accordion * {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}

.accordion {
    // overflow:hidden;
    box-shadow:0px 1px 3px rgba(0,0,0,0.25);
    border-radius:3px;
    background:#f7f7f7;
    border: 3px solid #464645;
}

/*----- Section Titles -----*/
.accordion-section-title {
    width:100%;
    padding:15px;
    display:inline-block;
    border-bottom:1px solid #1a1a1a;
    background:#464645;
    transition:all linear 0.15s;
    /* Type */
    font-size:1.200em;
    text-shadow:0px 1px 0px #1a1a1a;
    color:#fff;
}

.accordion-section-title.active, .accordion-section-title:hover {
    background:#7fa21b;
    /* Type */
    text-decoration:none;
    color: #fff;
    text-shadow:0px 1px 0px #1a1a1a;

}

.accordion-section:last-child .accordion-section-title {
    border-bottom:none;
}

/*----- Section Content -----*/
.accordion-section-content {
    display:none;
}

.accordion-entry {
  // display: inline-block;
  background-color: #e5e5e5;
  color: #797979;
  border-bottom: 1px solid #797979;
  width:100%;
  padding:15px;
}

.numEntries {
  display: inline-block;
  float: right;
  border-radius: 35%;
  padding: 0 10px;
  border: 1px solid #797979;
  // background-color: rgba(0, 0, 0, 0.2);
}

.show {
  display: inline-block;
}

.green {
  background: #7fa21b;
}
